{% extends 'base.html' %}
{% block content %}
<div class="main-content" style="min-height: 608px;">
        <section class="section">
          <div class="section-body">

            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Natijalar</h4>
                    <div class="card-header-form">
                      <form>
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search">
                          <div class="input-group-btn">
                            <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <tr>
                            <th>#</th>
                          <th>Savollar to'plami</th>
                          <th>Savollar soni</th>
                          <th>To'g'ri javoblar</th>
                          <th>Xato javoblar</th>
                          <th>Harakatlar</th>
                        </tr>
                        {% for result in result_list %}
                        <tr>
                         <td>{{ forloop.counter }}</td>
                          <td>{{ result.quiz.name }}</td>
                          <td>{{ result.quiz.questions_count }}</td>
                          <td>{{ result.correct_options_count}}</td>
                          <td>{{ result.wrong_options_count }}</td>
                          <td>
                            <a href="{% url 'resultDetail' result.quiz.id %}" class="btn btn-succes"><i class="fas fa-arrow-circle-right"></i></a>
                          </td>

                        </tr>
                        {% endfor %}
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
</div>
{% endblock %}